doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    frame
        h1(id="titletext") Myplace
        //- img(src="mainpic.jpg")
    block content